@media (min-width: $breakpoint-nav) {

  #navbar {
    &.hide-menu {
      top: - 150px;
      transition: .8s all ease-in-out;

      .sub-menu{
        opacity: 0 !important;
        transition: all 1s linear;

      }
    }

  }

}



