.block-parallax-slider {
  position: relative;
  z-index: 2;
  margin-top: 0 !important;


  .splide__track {
    //overflow: visible !important;
  }

  .splide__slide {

    .bg-image {

      background-attachment: fixed !important;
      background-position: bottom !important;
      background-size: contain !important;

      @media screen and (min-width: $md) {
        height: 700px;
      }
      img{
        width: auto;
        max-width: unset ;
        height: 40vh;
        margin-left: -20%;
        @media screen and (min-width: $md) {
          width: 100%;
          height: auto;
          margin-left: 0;
        }

      }
    }
  }


  .container {
    min-height: 500px;
    z-index: 10;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 75vh;
    overflow: hidden;

    .inner {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      background-color: transparent;
      padding: 1.5em;
      gap: 1em;
      @media screen and (min-width: $sm) {
        padding: 2.5em;
      }
      @media screen and (min-width: $lg) {
        padding: 3.7em;
      }

      > * {
        text-align: center;
      }

      .title {
        color: #fff;
        font-weight: 400;
        font-size: 28px;
        letter-spacing: 1.7px;
        margin: 0 !important;
        padding: 0 !important;
        line-height: 1.2 !important;
        @media screen and (min-width: $xxs) {
          font-size: 35px;
        }
        @media screen and (min-width: $sm) {
          font-size: 45px;
        }
      }

      .subtitle {
        font-size: 18px !important;
        letter-spacing: 1.5px;
        color: #fff;
        line-height: 1.2 !important;
        padding: 0 !important;
        margin: 0 !important;
        @media screen and (min-width: $xs) {
          font-size: 25px;
        }
        @media screen and (min-width: $sm) {
          font-size: 33px;
        }
      }

      h1, h2, h3, span {
        margin: 0;
        margin-bottom: 0.35em;
        padding: 0 !important;

        &:after {
          display: none;
        }
      }

      span.title {
        display: block;
      }

      .header-btn {
        margin-top: 1em;
        @extend %button;
        color: #fff;
        border-color: #fff;
        z-index: 10;
        background-color: transparent;

        &:before {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          width: 100%;
          left: 0;
          right: 0;
          background-color: #fff;
          transform: translateX(105%);
          transition: transform 200ms ease-out;
          z-index: -1;
        }

        &:hover {
          color: $darken !important;
          text-decoration: none;

          &:before {
            transform: translateX(0%);
          }

        }


      }

    }
  }


}

.scrolling-image {
  transition: margin 0.3s ease;
}


