.wp-block-acf-counter-icon-text{
  padding: 1rem;
  i{
    width: 64px !important;
    height: 64px !important;
    background-color: $secondary;
    padding: 16px;
    position: relative;
    font-style: normal !important;
    border-radius: 50%;
    display: inline-block;
    .counter{
      $counter-size: 1.4rem;
      position: absolute;
      color: #fff;
      background-color: $primary;
      text-align: center;
      font-size: .8rem;
      width: $counter-size;
      height: $counter-size;
      line-height: $counter-size;
      display: inline-block;
      border-radius: 50%;
      left: -2px;
      top: -2px;


    }





  }


}